
body {
    display: flex;
    background-color: var(--cor-bg);
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.title h2 {
    margin-right: 50px;
}

#id_close {
    cursor: pointer;
    transition: 0.3s;
}

#id_close:hover {
    color: var(--cor-red);
}

section.dashboard {
    width: calc(100vw - 70px);
    height: 100vh;
    display: flex;
    overflow-y: auto;
    margin-left: 70px;
    background-color: var(--cor-bg);
}

section.dashboard div.container {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 50px;
}

section.dashboard div.container section.graphic {
    height: 525px;
    padding-right: 5%;
    /* display: flex; */
    justify-content: space-between;
    animation-name: sidein;
    animation-duration: 1.5s;
}

@keyframes sidein {
    from {
        margin-top: -420px;
        opacity: 0;
    }

    to {
        display: flex;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes sideoff {
    from {
        margin-top: 0px;
        opacity: 1;
    }

    to {
        margin-top: -425px;
        display: none;
        opacity: 0;
    }
}

section.dashboard div.container section.graphic div.cont-grafico div.graphic {
    padding: 25px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 1px 1px 25px rgba(70, 70, 70, 0.3);
    background-color: #fefefe;
}

section.graphic div.cont-grafico div.graphic canvas {
    width: 100%;
}

section.dashboard div.container section.graphic div.cont-dados {
    width: 500px;
    height: 100%;
    overflow: auto;
}

section.dashboard div.container section.graphic div.cont-dados::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

section.dashboard div.container section.graphic div.cont-dados::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cor-status);
}

section.dashboard div.container section.graphic div.cont-dados div.dados {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

section.dashboard div.container section.graphic div.cont-dados div.dados div.dado {
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    justify-content: space-evenly;
}

section.dashboard div.container section.graphic div.cont-dados div.dados div.dado.last {
    box-shadow: 1px 1px 25px rgba(70, 70, 70, 0.3);
    background-color: #fefefe;
}

section.dashboard div.container section.graphic div.cont-dados div.dados div.dado span {
    width: 70px;
}

section.dashboard div.container section.freezers {
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

section.dashboard div.container section.freezers div.title {
    display: flex;
    justify-content: space-between;
}

section.dashboard div.container section.freezers div.title div {
    display: flex;
    align-items: center;
}

section.dashboard div.container section.freezers div#div_gif {
    width: 100px;
    margin-top: 200px;
    align-self: center;
}

section.dashboard div.container section.freezers div#div_gif img {
    width: 100%;
    border-radius: 25px;
}

section.dashboard div.container section.freezers div#div_gif p {
    margin-top: 10px;
}

section.dashboard div.container section.freezers div.cont-freezers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section.dashboard div.container section.freezers div.cont-freezers div.freezer {
    width: 200px;
    height: 200px;
    padding: 25px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--cor-blue);
    cursor: pointer;
    background-color: #fefefe;
}

section.dashboard div.container section.freezers div.cont-freezers div.freezer img {
    width: 70px;
    margin-bottom: 10px;
}

section.dashboard div.container section.freezers div.cont-freezers div.freezer div.status {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.dashboard div.container section.freezers div.cont-freezers div.freezer div.status h2 {
    font-size: 30px;
}

@media (max-width: 1650px) {

    section.dashboard div.container section.graphic{
        height: 400px;
    }

    section.dashboard div.container section.graphic div.cont-grafico div.graphic {
        width: 600px;
    }

    section.dashboard div.container section.graphic {
        padding: 0;
    }
}