.editarperfil {

    font-size: 60px;
    padding-top: 20px;
    margin-left: 550px;
  
}

#fotoperfil {

    height: 350px;
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    opacity: 30%;
}



.dadosusuario {

    padding-top: 25px;
    margin-left: 250px;
    
}

#tamanhofonte {

    font-size: 18px;
    font-style: italic;
    
 }


#nomeEstabelecimento {

    width: 330px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;
    
    
}
 
#categoria {

    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;
    
    
}

#cnpj {

    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#rua {

    width: 330px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#num {

    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#email {

    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#senha {

    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

.salvar {

    width: 150px;
    height: 35px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid;
    color: #ffffff;
    background-color: #348899;
    transition: 0.3s;

}

.salvar:hover {

    background-color: #ffffff;
    color: #348899;
    cursor: pointer;

}

.alterar {

    float: right;
    margin-right: 305px;
    margin-top: -100px;
    cursor: pointer;

}
