* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    --cor-blue: #348899;
    --cor-green: #37CA33;
    --cor-yellow: #F0C908;
    --cor-red: #BE2D21;
    --cor-status: var(--cor-blue);
    --cor-bg: #f6f7fb
}

body {

    background-color: #f6f7fb;

}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    
}

header {
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #fefefe;
}

header img {
    width: 45px;
}

header div.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
} 

/* inicio options */

header div.container div.options {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header div.container div.options > img:first-child{
    margin-bottom: 20px;
}

header div.container div.options div.item {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div.container div.options div.item.actived {
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px var(--cor-status);
    background-color: var(--cor-status);
}

header div.container div.options span {
    display: none;
}

header div.container div.options span#span_actived {
    display: block;
    color: var(--cor-status);
}

header div.container div.options div.item img {
    width: 25px;
}

/* fim options */


/* inicio perfil */

header div.container div.perfil {
    cursor: pointer;
}

header div.container div.perfil div.options-perfil {
    width: 130px;
    margin-left: 90px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(70, 70, 70, 0.3);
    background-color: #fefefe;
}

header div.container div.perfil div.options-perfil div.item-perfil {
    display:flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px;
}

header div.container div.perfil div.options-perfil div.item-perfil:hover {
    cursor: pointer;
    background-color: #e4e2e2;
}

header div.container div.perfil div.options-perfil div.item-perfil img {
    width: 25px;
}

header div.container div.perfil div.options-perfil div.item-perfil span {
    margin-left: 10px;
}

header div.container div.perfil img {
    width: 30px;
}

#usuario {
    display: inline-block;
    color: black;
}

.editarperfil {

    font-size: 60px;
    padding-top: 20px;
    margin-left: 550px;
  
}

#fotoperfil {

    height: 350px;
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    opacity: 30%;
}



.dadosusuario {

    padding-top: 25px;
    margin-left: 250px;
    
}

#tamanhofonte {

    font-size: 18px;
    font-style: italic;
    
 }


#nomeEstabelecimento {

    width: 330px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;
    
    
}
 
#categoria {

    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;
    
    
}

#cnpj {

    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#rua {

    width: 330px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#num {

    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#email {

    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

#senha {

    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #348899;
    padding-left: 15px;

}

.salvar {

    width: 150px;
    height: 35px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid;
    color: #ffffff;
    background-color: #348899;
    transition: 0.3s;

}

.salvar:hover {

    background-color: #ffffff;
    color: #348899;
    cursor: pointer;

}

.alterar {

    float: right;
    margin-right: 305px;
    margin-top: -100px;
    cursor: pointer;

}


/* fim do header */