/* header */

header {
    width: 100vw;
    height: 70px;
    display: flex;
    background-color: #852b3d;
}

header div.container {
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

header div.container div.logo img {
    width: 75px;
    border-radius: 50%;
}

header div.container nav {
    width: 140px;
}

header div.container nav a {
    color: #fff;
}

header div.container nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #fff;
}

/* end header */